* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 0, 0.484);
  }
  .zen {
    background: url("Zen_Read.png");
    width: 373px; /* Frame Width */
    height: 360px; /* Frame Height */
    animation: read 6s steps(52) infinite; /* 52 Frames are there in Zen_Greets.png */
    transform: scale(0.55); /* Size of Zen */
    transform-origin: top left;

    position: absolute;
    top: 57%;
    left: 80%;
  }
  
  @keyframes read {
    100% {
      background-position: -19396px;
    }
  }

  .zen-tooltip {
    text-align: center;
    font-size: 16px; /* Adjust font size as desired */
    color: white; /* Set the text color */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  